@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(0.9894 0.0028 308.4291);
  --foreground: oklch(0.1991 0.01 294.6446);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1991 0.01 294.6446);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1991 0.01 294.6446);
  --primary: oklch(0.5005 0.262 292.2101);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9503 0.0053 286.2978);
  --secondary-foreground: oklch(0.2998 0.0198 293.5032);
  --muted: oklch(0.9598 0.0041 301.424);
  --muted-foreground: oklch(0.4809 0.0192 293.3135);
  --accent: oklch(0.9244 0.041 296.2756);
  --accent-foreground: oklch(0.3003 0.1448 292.2545);
  --destructive: oklch(0.6207 0.2203 24.8903);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8998 0.0068 295.4389);
  --input: oklch(0.92 0.0054 286.2936);
  --ring: oklch(0.5005 0.262 292.2101);
  --chart-1: oklch(0.5005 0.262 292.2101);
  --chart-2: oklch(0.4004 0.187 317.5847);
  --chart-3: oklch(0.2997 0.1933 267.227);
  --chart-4: oklch(0.6493 0.1826 342.333);
  --chart-5: oklch(0.2498 0.0585 242.5518);
  --sidebar: oklch(0.9598 0.0041 301.424);
  --sidebar-foreground: oklch(0.1991 0.01 294.6446);
  --sidebar-primary: oklch(0.5005 0.262 292.2101);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9244 0.041 296.2756);
  --sidebar-accent-foreground: oklch(0.3003 0.1448 292.2545);
  --sidebar-border: oklch(0.8998 0.0068 295.4389);
  --sidebar-ring: oklch(0.5005 0.262 292.2101);
  --font-sans: Nunito Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: #555360;
  --shadow-2xs: 0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.04);
  --shadow-xs: 0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.04);
  --shadow-sm:
    0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.08),
    0px 1px 2px -1px hsl(249.2308 7.2626% 35.098% / 0.08);
  --shadow:
    0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.08),
    0px 1px 2px -1px hsl(249.2308 7.2626% 35.098% / 0.08);
  --shadow-md:
    0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.08),
    0px 2px 4px -1px hsl(249.2308 7.2626% 35.098% / 0.08);
  --shadow-lg:
    0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.08),
    0px 4px 6px -1px hsl(249.2308 7.2626% 35.098% / 0.08);
  --shadow-xl:
    0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.08),
    0px 8px 10px -1px hsl(249.2308 7.2626% 35.098% / 0.08);
  --shadow-2xl: 0px 2px 12px 0px hsl(249.2308 7.2626% 35.098% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1605 0.0063 285.6705);
  --foreground: oklch(0.95 0.004 286.3234);
  --card: oklch(0.2108 0.0078 285.7096);
  --card-foreground: oklch(0.95 0.004 286.3234);
  --popover: oklch(0.241 0.0076 285.819);
  --popover-foreground: oklch(0.95 0.004 286.3234);
  --primary: oklch(0.5997 0.2297 292.1315);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2505 0.0076 297.2856);
  --secondary-foreground: oklch(0.9004 0.0095 292.7807);
  --muted: oklch(0.2293 0.0078 297.2219);
  --muted-foreground: oklch(0.6793 0.0205 292.4085);
  --accent: oklch(0.2795 0.1315 292.1875);
  --accent-foreground: oklch(0.8495 0.0778 292.0246);
  --destructive: oklch(0.6789 0.2096 21.9475);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3006 0.0108 293.3902);
  --input: oklch(0.3006 0.0108 293.3902);
  --ring: oklch(0.5997 0.2297 292.1315);
  --chart-1: oklch(0.5997 0.2297 292.1315);
  --chart-2: oklch(0.6796 0.2353 317.1408);
  --chart-3: oklch(0.7395 0.1286 267.5376);
  --chart-4: oklch(0.5 0.1824 342.3528);
  --chart-5: oklch(0.7997 0.1056 242.1546);
  --sidebar: oklch(0.1897 0.0081 297.0591);
  --sidebar-foreground: oklch(0.95 0.004 286.3234);
  --sidebar-primary: oklch(0.5997 0.2297 292.1315);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2795 0.1315 292.1875);
  --sidebar-accent-foreground: oklch(0.8495 0.0778 292.0246);
  --sidebar-border: oklch(0.3006 0.0108 293.3902);
  --sidebar-ring: oklch(0.5997 0.2297 292.1315);
  --font-sans:
    Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono:
    SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.35;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.17);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.17);
  --shadow-sm:
    0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 1px 2px -1px hsl(0 0% 0% / 0.35);
  --shadow:
    0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 1px 2px -1px hsl(0 0% 0% / 0.35);
  --shadow-md:
    0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 2px 4px -1px hsl(0 0% 0% / 0.35);
  --shadow-lg:
    0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 4px 6px -1px hsl(0 0% 0% / 0.35);
  --shadow-xl:
    0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 8px 10px -1px hsl(0 0% 0% / 0.35);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.88);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}
